.text-input {
  border: 1px solid #CACCCD;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  outline-color: #EFF1F3;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}