// colors 
$dark-grey: #333;
$green: #2A960D;
$dark-green: #1E352F;
$off-white: #EFF1F3;
// font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;